* {
	box-sizing: border-box;
}

/* CSS PARA PAGINA INICIO SESION */

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	background-image: url('../img/sl_011023_55240_03.jpg');
    background-size: cover;
}

.container {
	background-color: #a379c9;;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.header p{
  font-family: 'Almarai', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.form {
	padding: 30px 40px;	
  	font-family: 'Almarai', sans-serif;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
  font-family: 'Almarai', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2f3542;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #2f3542;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color:  #ffffff;
	border: 2px solid #a379c9;
	border-radius: 4px;
	color: #2f3542;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

.swal-custom{
	font-family: 'Almarai', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

/*CSS PARA PAGE 1*/

.button-container {
	text-align: center;
	background-color:#a379c9;
	padding: 5rem;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
}
  
#btnCrearMascota {
	display: inline-block;
	margin: 10px;
	padding: 20px 70px;
	border-radius: 20px;
	background-color: #f2f2f2;
	border: none;
	color: #2f3542;
	font-family: 'Anton', sans-serif;
 	font-weight: 400;
	font-size: 25px;
	cursor: pointer;
}
  
#btnCrearMascota:hover {
	background-color: #ddd;
}

.imgDecoracion {
	margin: 10px;
}

/*CSS PARA PAGE2*/

.button-container-p2{
	text-align: center;
	background-color:#a379c9;
	padding: 6rem;
	border-radius: 30px;
}


/* CSS PARA PAGINA 3 */

.formularioConteiner{
	background-color:#a379c9;
	height: 400px;
	width: 500px;
	border-radius: 10px;
}

.form-crearMascota{
	padding: 30px 40px;	
	font-family: 'Almarai', sans-serif;
}

.form-crearMascota input{
	background-color:  #a379c9;
	border-radius: 4px;
	color: #000000;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

#nombre{
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	font-size: 20px;
}

#sexo{
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	font-size: 20px;
}

#comida{
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	font-size: 20px;
}

#inputNombre{
	margin-bottom: 1rem;
	background-color: #f2f2f2;
	border: none;
	border-radius: 10px;
	padding: 0.8rem;
}

#inputSexo{
	margin-bottom: 1rem;
	background-color: #f2f2f2;
	border-radius: 10px;
	padding: 0.8rem;
	border: none;
}

#inputComida{
	background-color: #f2f2f2;
	border-radius: 10px;
	padding: 0.8rem;
	border: none;
}

.btnCrearMascota3{
	margin: 10px;
	padding: 20px 70px;
	border-radius: 20px;
	background-color: #f2f2f2;
	border: none;
	color: #2f3542;
	font-family: 'Anton', sans-serif;
 	font-weight: 400;
	font-size: 25px;
	cursor: pointer;
}

.btnCrearMascota3:hover {
	background-color: #ddd;
}


/*CSS PARA PAGINA 4*/

#divPadre{
	display: flex;
	flex-direction: column;
	background-color:#a379c9;
	border-radius: 10px;
	width: 1000px;
	justify-content: center;
	padding: 2.5rem;
}

#divMascota{
	display: flex;
	justify-content: center;
	padding: 3rem;
	justify-content: space-around;
}

#tituloMascota{
	font-family: 'Anton', sans-serif;
 	font-weight: 400;
	font-size: 25px;
	text-align: center;
	/* padding: 20px; */
}

.imgMascota{
	width: 200px;
	justify-content: center;
}

#divSaldo{
	display: flex;
	justify-content: space-around;
}

#divBtn{
	display: flex;
    justify-content: space-around;
	margin-top: 3rem;
}

.btnDatos{
	display: flex;
	padding: 25px;
	margin: 1rem;
	border-radius: 20px;
	background-color: #f2f2f2;
	border: none;
	color: #333;
	font-family: 'Anton', sans-serif;
 	font-weight: 400;
	font-size: 27px;
	cursor: pointer;
	align-items: center;
}

.btnDatos:hover {
	background-color: #ddd;
}

.btnEstado{
	display: flex;
	padding: 20px;
	margin: 1rem;
	border-radius: 20px;
	background-color: #f2f2f2;
	border: none;
	color: #333;
	font-family: 'Anton', sans-serif;
 	font-weight: 400;
	font-size: 27px;
	cursor: pointer;
}

.btnEstado:hover {
	background-color: #ddd;
}

#mensajeCompra{
	font-family: 'Almarai', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-left: 15px;
}

#mensajeAlimentar{
	font-family: 'Almarai', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-right: 15px;
}

#divAlmacen{
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

#comidaAlmacen{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.almacenTitulo{
	font-family: 'Mulish', sans-serif;
	font-weight: 600;
	font-size: 25px;
	text-align: center;
	margin-top: 3rem;
}

.cardComida{
	background-color: #d3a0ff;
	margin: 30px;
	padding: 12px;
	text-align: center;
	width: 160px;
	height: 320px;
	border-radius: 20px;
}

.cardTitulo{
	font-family: 'Mulish', sans-serif;
	font-weight: 300;
    font-size: 20px;
}

.cardImg{
	width: 50px;
}

.cardSubtitulo{
	font-family: 'Mulish', sans-serif;
	font-weight: 500;
    font-size: 20px;
}

.cardBtnComprar{
	font-family: 'Mulish', sans-serif;
	font-weight: 500;
    font-size: 13px;
	padding: 10px;
	border-radius: 20px;
	background-color: #f2f2f2;
	border: none;
	color: #333;
	cursor: pointer;
}

.cardBtnComprar:hover {
	background-color: #ddd;
}

#saldo{
font-family: 'Almarai', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#energia{
font-family: 'Almarai', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#buscador{
	border-radius: 20px;
	border-color: grey;
	width: 200px;
	padding: 10px;
	font-family: 'Almarai', sans-serif;
  	font-weight: 400;
  	font-size: 15px;
	justify-content: center;
}